footer {
  width: 100%;
  margin: 2rem 0 0;
  padding: 1rem;
  background: #111;

  .footer__content {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;

    @include mobile {
      flex-direction: column-reverse;
    }

    & > div {
      flex: 1;
    }

    & > div:last-of-type {
      display: flex;
      justify-content: flex-end;

      @include mobile {
        justify-content: center;
      }
    }

    p {
      color: #fff;
      text-align: center;
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    .darksky {
      display: block;
      width: 15rem;

      img {
        width: 100%;
      }
    }
  }
}
