.header {
  // background: rgba(55, 103, 166, 1);
  // background: rgb(29, 45, 68);
  // background: linear-gradient(
  //   0deg,
  //   rgba(29, 45, 68, 1) 0%,
  //   rgba(55, 103, 166, 1) 100%
  // );
  padding: 1rem;
  width: 100%;
  color: $orange;

  &__content {
    margin: 0 auto;
    max-width: 1000px;
  }
}
